# values-k3d.yaml
# This configuration is adapted for k3d deployment of GitLab
# - Minimized CPU/Memory load, can fit into 3 CPU, 6 GB of RAM (barely)
# - Services that are not compatible with k3d are disabled
# - Some services entirely removed, or scaled down to 1 replica.
# - Configured to use gitlab.sh domain with HTTP

# Minimal settings
global:
  ingress:
    configureCertmanager: false
    class: "traefik"
  hosts:
    domain: gitlab.sh
    https: false
  # Disable Rails bootsnap cache (temporary)
  rails:
    bootsnap:
      enabled: false
  shell:
    # Configure the clone link in the UI to include the high-numbered NodePort
    # value from below (`gitlab.gitlab-shell.service.nodePort`)
    port: 32022
# Don't use certmanager, we'll self-sign
installCertmanager: false
# Use the `ingress` addon, not our Ingress (can't map 22/80/443)
nginx-ingress:
  enabled: false
# Save resources, only 3 CPU
prometheus:
  install: false
gitlab-runner:
  install: false
# Disable Grafana
grafana:
  enabled: false
# Reduce replica counts and disable optional services
gitlab:
  gitlab-exporter:
    enabled: false
  webservice:
    minReplicas: 1
    maxReplicas: 1
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitlab-shell:
    minReplicas: 1
    maxReplicas: 1
    # Map gitlab-shell to a high-numbered NodePort to support cloning over SSH since
    # Minikube takes port 22.
    service:
      type: NodePort
      nodePort: 32022
  kas:
    minReplicas: 1
    maxReplicas: 1
  toolbox:
    replicas: 1
registry:
  hpa:
    minReplicas: 1
    maxReplicas: 1
# Reduce PostgreSQL resources
postgresql:
  metrics:
    enabled: false
# Reduce Redis resources
redis:
  metrics:
    enabled: false
# Reduce MinIO resources
minio:
  replicas: 1
